.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
  max-width: 327px;
  padding: 24px;
  border-radius: $border-radius-big;
  position: static;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);

  &__hero-container {
    position: relative;
    height: 279px;
    border-radius: $border-radius-small;
  }

  &__hero-image {
    border-radius: $border-radius-small;
  }

  &__hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &:hover {
      background-color: hsla(178, 100%, 50%, 0.5);
      opacity: 1;
      border-radius: $border-radius-small;
      transition: background-color 0.4s ease-in-out;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0 16px 0;
    gap: 1rem;

    &-title {
      font-size: 22px;
      font-weight: 600;
      color: $white;

      &:hover {
        color: $highlight-color;
      }
    }

    &-description {
      font-weight: 300;
      line-height: 26px;
    }

    &-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 15px;
    }

    &-value {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 7px;
      color: $highlight-color;
    }

    &-value h2 {
      font-size: 15px;
    }

    &-time {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 7px;
    }
  }

  &__separator {
    width: 278px;
    height: 1px;
    color: $terciary-color;
    border-color: $terciary-color;
    border-style: solid;
  }

  &__footer {
    align-self: normal;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 0 0 0;
    font-size: 15px;
    gap: 1rem;

    &-image {
      height: 33px;
      width: 33px;
      border: 1px solid $white;
      border-radius: 33px;
    }

    &-author {
      color: $white;

      &:hover {
        color: $highlight-color;
      }
    }
  }
}
