$primary-color: hsla(215, 51%, 70%, 1);
$secondary-color: hsla(216, 51%, 16%, 1);
$terciary-color: hsla(216, 32%, 27%, 1);
$highlight-color: hsla(178, 100%, 50%, 1);

$main-background-color: hsla(217, 54%, 11%, 1);

$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);

$font: "Outfit", sans-serif;
$font-size: 18px;

$border-radius-big: 15px;
$border-radius-small: 8px;
